In [114]:
import pandas as pd
import numpy as np

In [160]:
data_dict = pd.read_csv('feature_definitions.csv')
#data_dict['target']=np.NaN
#data_dict[data_dict['Variable']=='num_group1']
data_dict['Variable'].unique()

array(['actualdpd_943P', 'actualdpdtolerance_344P',
       'addres_district_368M', 'addres_role_871L', 'addres_zip_823M',
       'amount_1115A', 'amount_416A', 'amount_4527230A',
       'amount_4917619A', 'amtdebitincoming_4809443A',
       'amtdebitoutgoing_4809440A', 'amtdepositbalance_4809441A',
       'amtdepositincoming_4809444A', 'amtdepositoutgoing_4809442A',
       'amtinstpaidbefduel24m_4187115A', 'annualeffectiverate_199L',
       'annualeffectiverate_63L', 'annuity_780A', 'annuity_853A',
       'annuitynextmonth_57A', 'applicationcnt_361L',
       'applications30d_658L', 'applicationscnt_1086L',
       'applicationscnt_464L', 'applicationscnt_629L',
       'applicationscnt_867L', 'approvaldate_319D', 'assignmentdate_238D',
       'assignmentdate_4527235D', 'assignmentdate_4955616D',
       'avgdbddpdlast24m_3658932P', 'avgdbddpdlast3m_4187120P',
       'avgdbdtollast24m_4525197P', 'avgdpdtolclosure24_3658938P',
       'avginstallast24m_3658937A', 'avglnamtstart24m_4525187A',
       'avgmaxdpdlast9m_3716943P', 'avgoutstandbalancel6m_4187114A',
       'avgpmtlast12m_4525200A', 'bankacctype_710L', 'birth_259D',
       'birthdate_574D', 'birthdate_87D', 'byoccupationinc_3656910L',
       'cacccardblochreas_147M', 'cancelreason_3545846M', 'cardtype_51L',
       'childnum_185L', 'childnum_21L', 'classificationofcontr_1114M',
       'classificationofcontr_13M', 'classificationofcontr_400M',
       'clientscnt_100L', 'clientscnt_1022L', 'clientscnt_1071L',
       'clientscnt_1130L', 'clientscnt_136L', 'clientscnt_157L',
       'clientscnt_257L', 'clientscnt_304L', 'clientscnt_360L',
       'clientscnt_493L', 'clientscnt_533L', 'clientscnt_887L',
       'clientscnt_946L', 'clientscnt12m_3712952L',
       'clientscnt3m_3712950L', 'clientscnt6m_3712949L',
       'cntincpaycont9m_3716944L', 'cntpmts24_3658933L',
       'collater_typofvalofguarant_298M',
       'collater_typofvalofguarant_407M',
       'collater_valueofguarantee_1124L',
       'collater_valueofguarantee_876L',
       'collaterals_typeofguarante_359M',
       'collaterals_typeofguarante_669M', 'commnoinclast6m_3546845L',
       'contaddr_district_15M', 'contaddr_matchlist_1032L',
       'contaddr_smempladdr_334L', 'contaddr_zipcode_807M',
       'contractdate_551D', 'contractenddate_991D',
       'contractmaturitydate_151D', 'contractssum_5085716L',
       'contractst_516M', 'contractst_545M', 'contractst_964M',
       'contractsum_5085717L', 'contracttype_653M', 'conts_role_79M',
       'conts_type_509L', 'creationdate_885D',
       'credacc_actualbalance_314A', 'credacc_cards_status_52L',
       'credacc_credlmt_575A', 'credacc_maxhisbal_375A',
       'credacc_minhisbal_90A', 'credacc_status_367L',
       'credacc_transactions_402L', 'credamount_590A', 'credamount_770A',
       'credlmt_1052A', 'credlmt_228A', 'credlmt_230A',
       'credlmt_3940954A', 'credlmt_935A', 'credor_3940957M',
       'credquantity_1099L', 'credquantity_984L', 'credtype_322L',
       'credtype_587L', 'currdebt_22A', 'currdebt_94A',
       'currdebtcredtyperange_828A', 'dateactivated_425D',
       'datefirstoffer_1144D', 'datelastinstal40dpd_247D',
       'datelastunpaid_3546854D', 'dateofbirth_337D', 'dateofbirth_342D',
       'dateofcredend_289D', 'dateofcredend_353D', 'dateofcredstart_181D',
       'dateofcredstart_739D', 'dateofrealrepmt_138D', 'days120_123L',
       'days180_256L', 'days30_165L', 'days360_512L', 'days90_310L',
       'daysoverduetolerancedd_3976961L', 'debtoutstand_525A',
       'debtoverdue_47A', 'debtpastduevalue_732A', 'debtvalue_227A',
       'deductiondate_4917603D', 'deferredmnthsnum_166L',
       'description_351M', 'description_5085714M',
       'disbursedcredamount_1113A', 'disbursementtype_67L',
       'district_544M', 'downpmt_116A', 'downpmt_134A', 'dpd_550P',
       'dpd_733P', 'dpdmax_139P', 'dpdmax_757P', 'dpdmax_851P',
       'dpdmaxdatemonth_442T', 'dpdmaxdatemonth_804T',
       'dpdmaxdatemonth_89T', 'dpdmaxdateyear_596T',
       'dpdmaxdateyear_742T', 'dpdmaxdateyear_896T', 'dtlastpmt_581D',
       'dtlastpmtallstes_3545839D', 'dtlastpmtallstes_4499206D',
       'education_1103M', 'education_1138M', 'education_88M',
       'education_927M', 'eir_270L', 'empl_employedfrom_271D',
       'empl_employedtotal_800L', 'empl_industry_691L',
       'empladdr_district_926M', 'empladdr_zipcode_114M',
       'employedfrom_700D', 'employername_160M',
       'empls_economicalst_849M', 'empls_employedfrom_796D',
       'empls_employer_name_740M', 'equalitydataagreement_891L',
       'equalityempfrom_62L', 'familystate_447L', 'familystate_726L',
       'financialinstitution_382M', 'financialinstitution_591M',
       'firstclxcampaign_1125D', 'firstdatedue_489D',
       'firstnonzeroinstldate_307D', 'firstquarter_103L',
       'for3years_128L', 'for3years_504L', 'for3years_584L',
       'formonth_118L', 'formonth_206L', 'formonth_535L',
       'forquarter_1017L', 'forquarter_462L', 'forquarter_634L',
       'fortoday_1092L', 'forweek_1077L', 'forweek_528L', 'forweek_601L',
       'foryear_618L', 'foryear_818L', 'foryear_850L',
       'fourthquarter_440L', 'gender_992L', 'homephncnt_628L',
       'housetype_905L', 'housingtype_772L', 'incometype_1044T',
       'inittransactionamount_650A', 'inittransactioncode_186L',
       'inittransactioncode_279L', 'installmentamount_644A',
       'installmentamount_833A', 'instlamount_768A', 'instlamount_852A',
       'instlamount_892A', 'interesteffectiverate_369L',
       'interestrate_311L', 'interestrate_508L', 'interestrategrace_34L',
       'interestrateyearly_538L', 'isbidproduct_1095L',
       'isbidproduct_390L', 'isbidproductrequest_292L',
       'isdebitcard_527L', 'isdebitcard_729L', 'isreference_387L',
       'language1_981M', 'last180dayaveragebalance_704A',
       'last180dayturnover_1134A', 'last30dayturnover_651A',
       'lastactivateddate_801D', 'lastapplicationdate_877D',
       'lastapprcommoditycat_1041M', 'lastapprcommoditytypec_5251766M',
       'lastapprcredamount_781A', 'lastapprdate_640D',
       'lastcancelreason_561M', 'lastdelinqdate_224D',
       'lastdependentsnum_448L', 'lastotherinc_902A',
       'lastotherlnsexpense_631A', 'lastrejectcommoditycat_161M',
       'lastrejectcommodtypec_5251769M', 'lastrejectcredamount_222A',
       'lastrejectdate_50D', 'lastrejectreason_759M',
       'lastrejectreasonclient_4145040M', 'lastrepayingdate_696D',
       'lastst_736L', 'lastupdate_1112D', 'lastupdate_260D',
       'lastupdate_388D', 'maininc_215A', 'mainoccupationinc_384A',
       'mainoccupationinc_437A', 'maritalst_385M', 'maritalst_703L',
       'maritalst_893M', 'mastercontrelectronic_519L',
       'mastercontrexist_109L', 'maxannuity_159A', 'maxannuity_4075009A',
       'maxdbddpdlast1m_3658939P', 'maxdbddpdtollast12m_3658940P',
       'maxdbddpdtollast6m_4187119P', 'maxdebt4_972A',
       'maxdebtpduevalodued_3940955A', 'maxdpdfrom6mto36m_3546853P',
       'maxdpdinstldate_3546855D', 'maxdpdinstlnum_3546846P',
       'maxdpdlast12m_727P', 'maxdpdlast24m_143P', 'maxdpdlast3m_392P',
       'maxdpdlast6m_474P', 'maxdpdlast9m_1059P', 'maxdpdtolerance_374P',
       'maxdpdtolerance_577P', 'maxinstallast24m_3658928A',
       'maxlnamtstart6m_4525199A', 'maxoutstandbalancel12m_4187113A',
       'maxpmtlast3m_4525190A', 'mindbddpdlast24m_3658935P',
       'mindbdtollast24m_4525191P', 'mobilephncnt_593L',
       'monthlyinstlamount_332A', 'monthlyinstlamount_674A',
       'monthsannuity_845L', 'name_4527232M', 'name_4917606M',
       'nominalrate_281L', 'nominalrate_498L', 'numactivecreds_622L',
       'numactivecredschannel_414L', 'numactiverelcontr_750L',
       'numberofcontrsvalue_258L', 'numberofcontrsvalue_358L',
       'numberofinstls_229L', 'numberofinstls_320L',
       'numberofinstls_810L', 'numberofoutstandinstls_520L',
       'numberofoutstandinstls_59L', 'numberofoverdueinstlmax_1039L',
       'numberofoverdueinstlmax_1151L', 'numberofoverdueinstlmaxdat_148D',
       'numberofoverdueinstlmaxdat_641D', 'numberofoverdueinstls_725L',
       'numberofoverdueinstls_834L', 'numberofqueries_373L',
       'numcontrs3months_479L', 'numincomingpmts_3546848L',
       'numinstlallpaidearly3d_817L', 'numinstls_657L',
       'numinstlsallpaid_934L', 'numinstlswithdpd10_728L',
       'numinstlswithdpd5_4187116L', 'numinstlswithoutdpd_562L',
       'numinstmatpaidtearly2d_4499204L', 'numinstpaid_4499208L',
       'numinstpaidearly_338L', 'numinstpaidearly3d_3546850L',
       'numinstpaidearly3dest_4493216L', 'numinstpaidearly5d_1087L',
       'numinstpaidearly5dest_4493211L', 'numinstpaidearly5dobd_4499205L',
       'numinstpaidearlyest_4493214L', 'numinstpaidlastcontr_4325080L',
       'numinstpaidlate1d_3546852L', 'numinstregularpaid_973L',
       'numinstregularpaidest_4493210L', 'numinsttopaygr_769L',
       'numinsttopaygrest_4493213L', 'numinstunpaidmax_3546851L',
       'numinstunpaidmaxest_4493212L', 'numnotactivated_1143L',
       'numpmtchanneldd_318L', 'numrejects9m_859L', 'opencred_647L',
       'openingdate_313D', 'openingdate_857D', 'outstandingamount_354A',
       'outstandingamount_362A', 'outstandingdebt_522A',
       'overdueamount_31A', 'overdueamount_659A', 'overdueamountmax_155A',
       'overdueamountmax_35A', 'overdueamountmax_950A',
       'overdueamountmax2_14A', 'overdueamountmax2_398A',
       'overdueamountmax2date_1002D', 'overdueamountmax2date_1142D',
       'overdueamountmaxdatemonth_284T', 'overdueamountmaxdatemonth_365T',
       'overdueamountmaxdatemonth_494T', 'overdueamountmaxdateyear_2T',
       'overdueamountmaxdateyear_432T', 'overdueamountmaxdateyear_994T',
       'paytype_783L', 'paytype1st_925L', 'payvacationpostpone_4187118D',
       'pctinstlsallpaidearl3d_427L', 'pctinstlsallpaidlat10d_839L',
       'pctinstlsallpaidlate1d_3546856L',
       'pctinstlsallpaidlate4d_3546849L',
       'pctinstlsallpaidlate6d_3546844L', 'periodicityofpmts_1102L',
       'periodicityofpmts_837L', 'periodicityofpmts_997L',
       'periodicityofpmts_997M', 'personindex_1023L', 'persontype_1072L',
       'persontype_792L', 'pmtamount_36A', 'pmtaverage_3A',
       'pmtaverage_4527227A', 'pmtaverage_4955615A', 'pmtcount_4527229L',
       'pmtcount_4955617L', 'pmtcount_693L', 'pmtdaysoverdue_1135P',
       'pmtmethod_731M', 'pmtnum_254L', 'pmtnum_8L', 'pmtnumpending_403L',
       'pmts_date_1107D', 'pmts_dpd_1073P', 'pmts_dpd_303P',
       'pmts_dpdvalue_108P', 'pmts_month_158T', 'pmts_month_706T',
       'pmts_overdue_1140A', 'pmts_overdue_1152A',
       'pmts_pmtsoverdue_635A', 'pmts_year_1139T', 'pmts_year_507T',
       'pmtscount_423L', 'pmtssum_45A', 'posfpd10lastmonth_333P',
       'posfpd30lastmonth_3976960P', 'posfstqpd30lastmonth_3976962P',
       'postype_4733339M', 'previouscontdistrict_112M', 'price_1097A',
       'processingdate_168D', 'profession_152M',
       'prolongationcount_1120L', 'prolongationcount_599L',
       'purposeofcred_426M', 'purposeofcred_722M', 'purposeofcred_874M',
       'recorddate_4527225D', 'refreshdate_3813885D',
       'registaddr_district_1083M', 'registaddr_zipcode_184M',
       'rejectreason_755M', 'rejectreasonclient_4145042M',
       'relatedpersons_role_762T', 'relationshiptoclient_415T',
       'relationshiptoclient_642T', 'remitter_829L',
       'requesttype_4525192L', 'residualamount_1093A',
       'residualamount_127A', 'residualamount_3940956A',
       'residualamount_488A', 'residualamount_856A', 'responsedate_1012D',
       'responsedate_4527233D', 'responsedate_4917613D',
       'revolvingaccount_394A', 'riskassesment_302T',
       'riskassesment_940T', 'role_1084L', 'role_993L',
       'safeguarantyflag_411L', 'score_940', 'secondquarter_766L',
       'sellerplacecnt_915L', 'sellerplacescnt_216L', 'sex_738L',
       'status_219L', 'subjectrole_182M', 'subjectrole_326M',
       'subjectrole_43M', 'subjectrole_93M', 'subjectroles_name_541M',
       'subjectroles_name_838M', 'sumoutstandtotal_3546847A',
       'sumoutstandtotalest_4493215A', 'tenor_203L', 'thirdquarter_1082L',
       'totalamount_503A', 'totalamount_6A', 'totalamount_881A',
       'totalamount_996A', 'totaldebt_9A', 'totaldebtoverduevalue_178A',
       'totaldebtoverduevalue_718A', 'totaloutstanddebtvalue_39A',
       'totaloutstanddebtvalue_668A', 'totalsettled_863A',
       'totinstallast1m_4525188A', 'twobodfilling_608L', 'type_25L',
       'typesuite_864L', 'validfrom_1069D'], dtype=object)

In [3]:
train_dir = './csv_files/train/train_'

In [4]:
base = pd.read_csv(train_dir+'base.csv')
base

         case_id date_decision   MONTH  WEEK_NUM  target
0              0    2019-01-03  201901         0       0
1              1    2019-01-03  201901         0       0
2              2    2019-01-04  201901         0       0
3              3    2019-01-03  201901         0       0
4              4    2019-01-04  201901         0       1
...          ...           ...     ...       ...     ...
1526654  2703450    2020-10-05  202010        91       0
1526655  2703451    2020-10-05  202010        91       0
1526656  2703452    2020-10-05  202010        91       0
1526657  2703453    2020-10-05  202010        91       0
1526658  2703454    2020-10-05  202010        91       0

[1526659 rows x 5 columns]

In [166]:
def min_columns(base_start, add_columns, table, cols=10, verbose=0):
    global data_dict

    data_dict.loc[data_dict['Variable'].isin(list(add_columns.columns)),'Table']=table
    
    base_join = base_start.join(add_columns.set_index('case_id'), how='left', on='case_id')
    corr = base_join.corr()['target']
    
    data_dict = data_dict.join(corr, how='left',on='Variable',rsuffix='_new')
    if 'target_new' in data_dict.columns:
        data_dict['target'] = data_dict['target'].combine_first(data_dict['target_new'])
        data_dict.drop(['target_new'],axis=1,inplace=True)
    
    best_cols = list(corr.sort_values(ascending=False).head(10).keys())
    data_dict.loc[data_dict['Variable'].isin(best_cols),'Top'+str(cols)]=True

    best_cols.append('case_id')
    base_min = base_join.drop(base_join.columns.difference(best_cols),1)

    if(verbose!=0):
        print(base_join)
        print(corr)
        print(best_cols)

    return base_min

In [5]:
static_0 = pd.concat([pd.read_csv(train_dir+'static_0_0.csv'),
                      pd.read_csv(train_dir+'static_0_1.csv')])
static_0

/var/folders/6d/cwp4j2v924nckbmg2vzzzrbm0000gn/T/ipykernel_98652/2364201066.py:1: DtypeWarning: Columns (20,45,46,53,57,84,143,146,167) have mixed types. Specify dtype option on import or set low_memory=False.
  static_0 = pd.concat([pd.read_csv(train_dir+'static_0_0.csv'),
/var/folders/6d/cwp4j2v924nckbmg2vzzzrbm0000gn/T/ipykernel_98652/2364201066.py:2: DtypeWarning: Columns (20,45,46,56,57,84,143,146,167) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv(train_dir+'static_0_1.csv')])

,case_id,actualdpdtolerance_344P,amtinstpaidbefduel24m_4187115A,annuity_780A,annuitynextmonth_57A,applicationcnt_361L,applications30d_658L,applicationscnt_1086L,applicationscnt_464L,applicationscnt_629L,...,sellerplacecnt_915L,sellerplacescnt_216L,sumoutstandtotal_3546847A,sumoutstandtotalest_4493215A,totaldebt_9A,totalsettled_863A,totinstallast1m_4525188A,twobodfilling_608L,typesuite_864L,validfrom_1069D
0,0,NaN,NaN,1917.6000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,0.0,0.00,NaN,BO,NaN,NaN
1,1,NaN,NaN,3134.0000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,0.0,0.00,NaN,BO,NaN,NaN
2,2,NaN,NaN,4937.0000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,0.0,0.00,NaN,BO,AL,NaN
3,3,NaN,NaN,4643.6000,0.0,0.0,1.0,0.0,2.0,0.0,...,1.0,1.0,NaN,NaN,0.0,0.00,NaN,BO,AL,NaN
4,4,NaN,NaN,3390.2000,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,0.0,0.00,NaN,BO,AL,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522897,2703450,0.0,176561.36,3675.4001,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,8.0,0.0,0.0,0.0,428159.66,14346.319,FO,NaN,NaN
522898,2703451,0.0,301276.47,7088.6000,6191.6,0.0,0.0,5.0,0.0,0.0,...,0.0,3.0,68098.4,68098.4,68098.4,701247.30,40499.805,FO,NaN,NaN
522899,2703452,0.0,14232.40,7788.8003,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,24002.00,NaN,BO,NaN,NaN
522900,2703453,0.0,197371.58,1195.4000,2827.2,0.0,0.0,36.0,0.0,0.0,...,0.0,4.0,46806.6,46806.6,46806.6,440145.30,5654.400,BO,NaN,NaN
522901,2703454,0.0,82949.60,4533.8003,2986.8,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8919.2,8919.2,5919.2,92999.57,2986.800,FO,NaN,NaN

In [161]:
static_min = min_columns(base, static_0, 'static_0')
print(static_0.columns, "\n", static_min.columns)

/var/folders/6d/cwp4j2v924nckbmg2vzzzrbm0000gn/T/ipykernel_98652/848990968.py:7: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr = base_join.corr()['target']
/var/folders/6d/cwp4j2v924nckbmg2vzzzrbm0000gn/T/ipykernel_98652/848990968.py:21: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  base_min = base_join.drop(base_join.columns.difference(best_cols),1)

Index(['case_id', 'actualdpdtolerance_344P', 'amtinstpaidbefduel24m_4187115A',
       'annuity_780A', 'annuitynextmonth_57A', 'applicationcnt_361L',
       'applications30d_658L', 'applicationscnt_1086L', 'applicationscnt_464L',
       'applicationscnt_629L',
       ...
       'sellerplacecnt_915L', 'sellerplacescnt_216L',
       'sumoutstandtotal_3546847A', 'sumoutstandtotalest_4493215A',
       'totaldebt_9A', 'totalsettled_863A', 'totinstallast1m_4525188A',
       'twobodfilling_608L', 'typesuite_864L', 'validfrom_1069D'],
      dtype='object', length=168)
 Index(['case_id', 'target', 'avgmaxdpdlast9m_3716943P', 'mobilephncnt_593L',
       'numinstlswithdpd10_728L', 'numinstlswithdpd5_4187116L',
       'numrejects9m_859L', 'pctinstlsallpaidlat10d_839L',
       'pctinstlsallpaidlate1d_3546856L', 'pctinstlsallpaidlate4d_3546849L',
       'pctinstlsallpaidlate6d_3546844L'],
      dtype='object')

In [42]:
static_cb_0 = pd.read_csv(train_dir+'static_cb_0.csv')
static_cb_0

/var/folders/6d/cwp4j2v924nckbmg2vzzzrbm0000gn/T/ipykernel_98652/4245436916.py:1: DtypeWarning: Columns (1,2,3,4,7,45,46,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  static_cb_0 = pd.read_csv(train_dir+'static_cb_0.csv')

,case_id,assignmentdate_238D,assignmentdate_4527235D,assignmentdate_4955616D,birthdate_574D,contractssum_5085716L,dateofbirth_337D,dateofbirth_342D,days120_123L,days180_256L,...,pmtscount_423L,pmtssum_45A,requesttype_4525192L,responsedate_1012D,responsedate_4527233D,responsedate_4917613D,riskassesment_302T,riskassesment_940T,secondquarter_766L,thirdquarter_1082L
0,357,NaN,NaN,NaN,1988-04-01,NaN,NaN,NaN,NaN,NaN,...,6.0,6301.4000,NaN,2019-01-25,NaN,NaN,NaN,NaN,NaN,NaN
1,381,NaN,NaN,NaN,1973-11-01,NaN,NaN,NaN,NaN,NaN,...,6.0,4019.6000,NaN,2019-01-25,NaN,NaN,NaN,NaN,NaN,NaN
2,388,NaN,NaN,NaN,1989-04-01,NaN,1989-04-01,NaN,6.0,8.0,...,6.0,14548.0000,NaN,2019-01-28,NaN,NaN,NaN,NaN,3.0,5.0
3,405,NaN,NaN,NaN,1974-03-01,NaN,1974-03-01,NaN,0.0,0.0,...,6.0,10498.2400,NaN,2019-01-21,NaN,NaN,NaN,NaN,2.0,0.0
4,409,NaN,NaN,NaN,1993-06-01,NaN,1993-06-01,NaN,2.0,3.0,...,7.0,6344.8804,NaN,2019-01-21,NaN,NaN,NaN,NaN,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1500471,2703450,NaN,NaN,2018-01-11,NaN,52863.59,1960-01-01,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2020-10-19,NaN,NaN,1.0,1.0
1500472,2703451,NaN,NaN,2005-06-15,NaN,324608.52,1950-11-01,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2020-10-19,NaN,NaN,1.0,2.0
1500473,2703452,NaN,NaN,NaN,NaN,102738.76,1977-08-01,NaN,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,2020-10-19,NaN,NaN,0.0,4.0
1500474,2703453,NaN,NaN,2008-02-15,NaN,212683.29,1950-02-01,NaN,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,2020-10-17,NaN,NaN,2.0,1.0
1500475,2703454,NaN,NaN,2000-08-22,NaN,42757.89,1948-04-01,NaN,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,2020-10-19,NaN,NaN,2.0,1.0

In [162]:
static_cb_min = min_columns(base, static_cb_0, 'static_cb_0')
print(static_cb_0.columns, "\n", static_cb_min.columns)

/var/folders/6d/cwp4j2v924nckbmg2vzzzrbm0000gn/T/ipykernel_98652/848990968.py:7: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr = base_join.corr()['target']

                    Variable  \
27       assignmentdate_238D
28   assignmentdate_4527235D
29   assignmentdate_4955616D
41            birthdate_574D
84     contractssum_5085716L
119         dateofbirth_337D
120         dateofbirth_342D
126             days120_123L
127             days180_256L
128              days30_165L
129             days360_512L
130              days90_310L
139     description_5085714M
159          education_1103M
161            education_88M
183        firstquarter_103L
184           for3years_128L
185           for3years_504L
186           for3years_584L
187            formonth_118L
188            formonth_206L
189            formonth_535L
190         forquarter_1017L
191          forquarter_462L
192          forquarter_634L
193           fortoday_1092L
194            forweek_1077L
195             forweek_528L
196             forweek_601L
197             foryear_618L
198             foryear_818L
199             foryear_850L
200       fourthquarter_440L
254           maritalst_385M
256           maritalst_893M
306     numberofqueries_373L
372            pmtaverage_3A
373      pmtaverage_4527227A
374      pmtaverage_4955615A
375        pmtcount_4527229L
376        pmtcount_4955617L
377            pmtcount_693L
394           pmtscount_423L
395              pmtssum_45A
419     requesttype_4525192L
425       responsedate_1012D
426    responsedate_4527233D
427    responsedate_4917613D
429       riskassesment_302T
430       riskassesment_940T
435       secondquarter_766L
449       thirdquarter_1082L

                                           Description        Table  target  \
27            Tax authority data - date of assignment.  static_cb_0     NaN
28            Tax authority data - Date of assignment.  static_cb_0     NaN
29                      Tax authority assignment date.  static_cb_0     NaN
41        Client's date of birth (credit bureau data).  static_cb_0     NaN
84   Total sum of values of contracts retrieved fro...  static_cb_0     NaN
119                            Client's date of birth.  static_cb_0     NaN
120                            Client's date of birth.  static_cb_0     NaN
126  Number of credit bureau queries for the last 1...  static_cb_0     NaN
127  Number of credit bureau queries for last 180 d...  static_cb_0     NaN
128  Number of credit bureau queries for the last 3...  static_cb_0     NaN
129  Number of Credit Bureau queries for last 360 d...  static_cb_0     NaN
130  Number of credit bureau queries for the last 9...  static_cb_0     NaN
139        Categorization of clients by credit bureau.  static_cb_0     NaN
159  Level of education of the client provided by e...  static_cb_0     NaN
161                     Education level of the client.  static_cb_0     NaN
183  Number of results obtained from credit bureau ...  static_cb_0     NaN
184  Number of rejected applications in the past 3 ...  static_cb_0     NaN
185  Client's credit history data over the last thr...  static_cb_0     NaN
186       Number of cancellations in the last 3 years.  static_cb_0     NaN
187                   Number of rejections in a month.  static_cb_0     NaN
188      Number of cancelations in the previous month.  static_cb_0     NaN
189                 Credit history for the last month.  static_cb_0     NaN
190  Number of cancellations recorded in the credit...  static_cb_0     NaN
191  Number of credit applications that were reject...  static_cb_0     NaN
192               Credit history for the last quarter.  static_cb_0     NaN
193                 Client's credit history for today.  static_cb_0     NaN
194           Number of cancelations in the last week.  static_cb_0     NaN
195                  Credit history for the last week.  static_cb_0     NaN
196  Number of rejected applications in the last week.  static_cb_0     NaN
197  Number of application rejections in the previo...  static_cb_0     NaN
198  Number of cancelations that occurred in last y...  static_cb_0     NaN
199                  Credit history for the last year.  static_cb_0     NaN
200               Number of results in fourth quarter.  static_cb_0     NaN
254                      Marital status of the client.  static_cb_0     NaN
256                       Marital status of the client  static_cb_0     NaN
306                Number of queries to credit bureau.  static_cb_0     NaN
372                         Average of tax deductions.  static_cb_0     NaN
373                         Average of tax deductions.  static_cb_0     NaN
374                         Average of tax deductions.  static_cb_0     NaN
375                          Number of tax deductions.  static_cb_0     NaN
376                          Number of tax deductions.  static_cb_0     NaN
377                          Number of tax deductions.  static_cb_0     NaN
394                  Number of tax deduction payments.  static_cb_0     NaN
395              Sum of tax deductions for the client.  static_cb_0     NaN
419                        Tax authority request type.  static_cb_0     NaN
425                     Tax authority's response date.  static_cb_0     NaN
426                     Tax authority's response date.  static_cb_0     NaN
427                     Tax authority's response date.  static_cb_0     NaN
429  Estimated probability that the client will def...  static_cb_0     NaN
430             Estimate of client's creditworthiness.  static_cb_0     NaN
435               Number of results in second quarter.  static_cb_0     NaN
449                Number of results in third quarter.  static_cb_0     NaN

    Top10  target_new
27    NaN         NaN
28    NaN         NaN
29    NaN         NaN
41    NaN         NaN
84    NaN    0.008374
119   NaN         NaN
120   NaN         NaN
126   NaN    0.073945
127   NaN    0.073306
128   NaN    0.062436
129   NaN    0.064446
130   NaN    0.072320
139   NaN         NaN
159   NaN         NaN
161   NaN         NaN
183   NaN    0.036911
184   NaN   -0.002329
185   NaN    0.055620
186   NaN    0.001996
187   NaN         NaN
188   NaN   -0.004849
189   NaN    0.073993
190   NaN   -0.003960
191   NaN         NaN
192   NaN    0.083585
193   NaN    0.026706
194   NaN   -0.001902
195   NaN    0.042604
196   NaN         NaN
197   NaN   -0.001902
198   NaN   -0.003952
199   NaN    0.068573
200   NaN    0.030596
254   NaN         NaN
256   NaN         NaN
306   NaN    0.064446
372   NaN   -0.052846
373   NaN   -0.056869
374   NaN   -0.043715
375   NaN    0.002881
376   NaN   -0.004870
377   NaN   -0.006633
394   NaN   -0.042880
395   NaN   -0.045376
419   NaN         NaN
425   NaN         NaN
426   NaN         NaN
427   NaN         NaN
429   NaN         NaN
430   NaN   -0.180037
435   NaN    0.029322
449   NaN    0.024927
                    Variable  \
27       assignmentdate_238D
28   assignmentdate_4527235D
29   assignmentdate_4955616D
41            birthdate_574D
84     contractssum_5085716L
119         dateofbirth_337D
120         dateofbirth_342D
126             days120_123L
127             days180_256L
128              days30_165L
129             days360_512L
130              days90_310L
139     description_5085714M
159          education_1103M
161            education_88M
183        firstquarter_103L
184           for3years_128L
185           for3years_504L
186           for3years_584L
187            formonth_118L
188            formonth_206L
189            formonth_535L
190         forquarter_1017L
191          forquarter_462L
192          forquarter_634L
193           fortoday_1092L
194            forweek_1077L
195             forweek_528L
196             forweek_601L
197             foryear_618L
198             foryear_818L
199             foryear_850L
200       fourthquarter_440L
254           maritalst_385M
256           maritalst_893M
306     numberofqueries_373L
372            pmtaverage_3A
373      pmtaverage_4527227A
374      pmtaverage_4955615A
375        pmtcount_4527229L
376        pmtcount_4955617L
377            pmtcount_693L
394           pmtscount_423L
395              pmtssum_45A
419     requesttype_4525192L
425       responsedate_1012D
426    responsedate_4527233D
427    responsedate_4917613D
429       riskassesment_302T
430       riskassesment_940T
435       secondquarter_766L
449       thirdquarter_1082L

                                           Description        Table    target  \
27            Tax authority data - date of assignment.  static_cb_0       NaN
28            Tax authority data - Date of assignment.  static_cb_0       NaN
29                      Tax authority assignment date.  static_cb_0       NaN
41        Client's date of birth (credit bureau data).  static_cb_0       NaN
84   Total sum of values of contracts retrieved fro...  static_cb_0  0.008374
119                            Client's date of birth.  static_cb_0       NaN
120                            Client's date of birth.  static_cb_0       NaN
126  Number of credit bureau queries for the last 1...  static_cb_0  0.073945
127  Number of credit bureau queries for last 180 d...  static_cb_0  0.073306
128  Number of credit bureau queries for the last 3...  static_cb_0  0.062436
129  Number of Credit Bureau queries for last 360 d...  static_cb_0  0.064446
130  Number of credit bureau queries for the last 9...  static_cb_0  0.072320
139        Categorization of clients by credit bureau.  static_cb_0       NaN
159  Level of education of the client provided by e...  static_cb_0       NaN
161                     Education level of the client.  static_cb_0       NaN
183  Number of results obtained from credit bureau ...  static_cb_0  0.036911
184  Number of rejected applications in the past 3 ...  static_cb_0 -0.002329
185  Client's credit history data over the last thr...  static_cb_0  0.055620
186       Number of cancellations in the last 3 years.  static_cb_0  0.001996
187                   Number of rejections in a month.  static_cb_0       NaN
188      Number of cancelations in the previous month.  static_cb_0 -0.004849
189                 Credit history for the last month.  static_cb_0  0.073993
190  Number of cancellations recorded in the credit...  static_cb_0 -0.003960
191  Number of credit applications that were reject...  static_cb_0       NaN
192               Credit history for the last quarter.  static_cb_0  0.083585
193                 Client's credit history for today.  static_cb_0  0.026706
194           Number of cancelations in the last week.  static_cb_0 -0.001902
195                  Credit history for the last week.  static_cb_0  0.042604
196  Number of rejected applications in the last week.  static_cb_0       NaN
197  Number of application rejections in the previo...  static_cb_0 -0.001902
198  Number of cancelations that occurred in last y...  static_cb_0 -0.003952
199                  Credit history for the last year.  static_cb_0  0.068573
200               Number of results in fourth quarter.  static_cb_0  0.030596
254                      Marital status of the client.  static_cb_0       NaN
256                       Marital status of the client  static_cb_0       NaN
306                Number of queries to credit bureau.  static_cb_0  0.064446
372                         Average of tax deductions.  static_cb_0 -0.052846
373                         Average of tax deductions.  static_cb_0 -0.056869
374                         Average of tax deductions.  static_cb_0 -0.043715
375                          Number of tax deductions.  static_cb_0  0.002881
376                          Number of tax deductions.  static_cb_0 -0.004870
377                          Number of tax deductions.  static_cb_0 -0.006633
394                  Number of tax deduction payments.  static_cb_0 -0.042880
395              Sum of tax deductions for the client.  static_cb_0 -0.045376
419                        Tax authority request type.  static_cb_0       NaN
425                     Tax authority's response date.  static_cb_0       NaN
426                     Tax authority's response date.  static_cb_0       NaN
427                     Tax authority's response date.  static_cb_0       NaN
429  Estimated probability that the client will def...  static_cb_0       NaN
430             Estimate of client's creditworthiness.  static_cb_0 -0.180037
435               Number of results in second quarter.  static_cb_0  0.029322
449                Number of results in third quarter.  static_cb_0  0.024927

    Top10  target_new
27    NaN         NaN
28    NaN         NaN
29    NaN         NaN
41    NaN         NaN
84    NaN    0.008374
119   NaN         NaN
120   NaN         NaN
126   NaN    0.073945
127   NaN    0.073306
128   NaN    0.062436
129   NaN    0.064446
130   NaN    0.072320
139   NaN         NaN
159   NaN         NaN
161   NaN         NaN
183   NaN    0.036911
184   NaN   -0.002329
185   NaN    0.055620
186   NaN    0.001996
187   NaN         NaN
188   NaN   -0.004849
189   NaN    0.073993
190   NaN   -0.003960
191   NaN         NaN
192   NaN    0.083585
193   NaN    0.026706
194   NaN   -0.001902
195   NaN    0.042604
196   NaN         NaN
197   NaN   -0.001902
198   NaN   -0.003952
199   NaN    0.068573
200   NaN    0.030596
254   NaN         NaN
256   NaN         NaN
306   NaN    0.064446
372   NaN   -0.052846
373   NaN   -0.056869
374   NaN   -0.043715
375   NaN    0.002881
376   NaN   -0.004870
377   NaN   -0.006633
394   NaN   -0.042880
395   NaN   -0.045376
419   NaN         NaN
425   NaN         NaN
426   NaN         NaN
427   NaN         NaN
429   NaN         NaN
430   NaN   -0.180037
435   NaN    0.029322
449   NaN    0.024927
                    Variable  \
27       assignmentdate_238D
28   assignmentdate_4527235D
29   assignmentdate_4955616D
41            birthdate_574D
84     contractssum_5085716L
119         dateofbirth_337D
120         dateofbirth_342D
126             days120_123L
127             days180_256L
128              days30_165L
129             days360_512L
130              days90_310L
139     description_5085714M
159          education_1103M
161            education_88M
183        firstquarter_103L
184           for3years_128L
185           for3years_504L
186           for3years_584L
187            formonth_118L
188            formonth_206L
189            formonth_535L
190         forquarter_1017L
191          forquarter_462L
192          forquarter_634L
193           fortoday_1092L
194            forweek_1077L
195             forweek_528L
196             forweek_601L
197             foryear_618L
198             foryear_818L
199             foryear_850L
200       fourthquarter_440L
254           maritalst_385M
256           maritalst_893M
306     numberofqueries_373L
372            pmtaverage_3A
373      pmtaverage_4527227A
374      pmtaverage_4955615A
375        pmtcount_4527229L
376        pmtcount_4955617L
377            pmtcount_693L
394           pmtscount_423L
395              pmtssum_45A
419     requesttype_4525192L
425       responsedate_1012D
426    responsedate_4527233D
427    responsedate_4917613D
429       riskassesment_302T
430       riskassesment_940T
435       secondquarter_766L
449       thirdquarter_1082L

                                           Description        Table    target  \
27            Tax authority data - date of assignment.  static_cb_0       NaN
28            Tax authority data - Date of assignment.  static_cb_0       NaN
29                      Tax authority assignment date.  static_cb_0       NaN
41        Client's date of birth (credit bureau data).  static_cb_0       NaN
84   Total sum of values of contracts retrieved fro...  static_cb_0  0.008374
119                            Client's date of birth.  static_cb_0       NaN
120                            Client's date of birth.  static_cb_0       NaN
126  Number of credit bureau queries for the last 1...  static_cb_0  0.073945
127  Number of credit bureau queries for last 180 d...  static_cb_0  0.073306
128  Number of credit bureau queries for the last 3...  static_cb_0  0.062436
129  Number of Credit Bureau queries for last 360 d...  static_cb_0  0.064446
130  Number of credit bureau queries for the last 9...  static_cb_0  0.072320
139        Categorization of clients by credit bureau.  static_cb_0       NaN
159  Level of education of the client provided by e...  static_cb_0       NaN
161                     Education level of the client.  static_cb_0       NaN
183  Number of results obtained from credit bureau ...  static_cb_0  0.036911
184  Number of rejected applications in the past 3 ...  static_cb_0 -0.002329
185  Client's credit history data over the last thr...  static_cb_0  0.055620
186       Number of cancellations in the last 3 years.  static_cb_0  0.001996
187                   Number of rejections in a month.  static_cb_0       NaN
188      Number of cancelations in the previous month.  static_cb_0 -0.004849
189                 Credit history for the last month.  static_cb_0  0.073993
190  Number of cancellations recorded in the credit...  static_cb_0 -0.003960
191  Number of credit applications that were reject...  static_cb_0       NaN
192               Credit history for the last quarter.  static_cb_0  0.083585
193                 Client's credit history for today.  static_cb_0  0.026706
194           Number of cancelations in the last week.  static_cb_0 -0.001902
195                  Credit history for the last week.  static_cb_0  0.042604
196  Number of rejected applications in the last week.  static_cb_0       NaN
197  Number of application rejections in the previo...  static_cb_0 -0.001902
198  Number of cancelations that occurred in last y...  static_cb_0 -0.003952
199                  Credit history for the last year.  static_cb_0  0.068573
200               Number of results in fourth quarter.  static_cb_0  0.030596
254                      Marital status of the client.  static_cb_0       NaN
256                       Marital status of the client  static_cb_0       NaN
306                Number of queries to credit bureau.  static_cb_0  0.064446
372                         Average of tax deductions.  static_cb_0 -0.052846
373                         Average of tax deductions.  static_cb_0 -0.056869
374                         Average of tax deductions.  static_cb_0 -0.043715
375                          Number of tax deductions.  static_cb_0  0.002881
376                          Number of tax deductions.  static_cb_0 -0.004870
377                          Number of tax deductions.  static_cb_0 -0.006633
394                  Number of tax deduction payments.  static_cb_0 -0.042880
395              Sum of tax deductions for the client.  static_cb_0 -0.045376
419                        Tax authority request type.  static_cb_0       NaN
425                     Tax authority's response date.  static_cb_0       NaN
426                     Tax authority's response date.  static_cb_0       NaN
427                     Tax authority's response date.  static_cb_0       NaN
429  Estimated probability that the client will def...  static_cb_0       NaN
430             Estimate of client's creditworthiness.  static_cb_0 -0.180037
435               Number of results in second quarter.  static_cb_0  0.029322
449                Number of results in third quarter.  static_cb_0  0.024927

    Top10
27    NaN
28    NaN
29    NaN
41    NaN
84    NaN
119   NaN
120   NaN
126   NaN
127   NaN
128   NaN
129   NaN
130   NaN
139   NaN
159   NaN
161   NaN
183   NaN
184   NaN
185   NaN
186   NaN
187   NaN
188   NaN
189   NaN
190   NaN
191   NaN
192   NaN
193   NaN
194   NaN
195   NaN
196   NaN
197   NaN
198   NaN
199   NaN
200   NaN
254   NaN
256   NaN
306   NaN
372   NaN
373   NaN
374   NaN
375   NaN
376   NaN
377   NaN
394   NaN
395   NaN
419   NaN
425   NaN
426   NaN
427   NaN
429   NaN
430   NaN
435   NaN
449   NaN
Index(['case_id', 'assignmentdate_238D', 'assignmentdate_4527235D',
       'assignmentdate_4955616D', 'birthdate_574D', 'contractssum_5085716L',

/var/folders/6d/cwp4j2v924nckbmg2vzzzrbm0000gn/T/ipykernel_98652/848990968.py:21: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  base_min = base_join.drop(base_join.columns.difference(best_cols),1)

In [169]:
data_dict[data_dict['Top10']==True]

,Variable,Description,Table,target,Top10
36,avgmaxdpdlast9m_3716943P,Average Days Past Due (DPD) of the client in l...,static_0,0.089878,True
100,credamount_590A,Loan amount or card limit of previous applicat...,applprev_1,0.014974,True
113,currdebt_94A,Previous application's current debt.,applprev_1,0.016462,True
126,days120_123L,Number of credit bureau queries for the last 1...,static_cb_0,0.073945,True
127,days180_256L,Number of credit bureau queries for last 180 d...,static_cb_0,0.073306,True
128,days30_165L,Number of credit bureau queries for the last 3...,static_cb_0,0.062436,True
129,days360_512L,Number of Credit Bureau queries for last 360 d...,static_cb_0,0.064446,True
130,days90_310L,Number of credit bureau queries for the last 9...,static_cb_0,0.072320,True
189,formonth_535L,Credit history for the last month.,static_cb_0,0.073993,True
192,forquarter_634L,Credit history for the last quarter.,static_cb_0,0.083585,True
199,foryear_850L,Credit history for the last year.,static_cb_0,0.068573,True
253,mainoccupationinc_437A,Client's main income amount in their previous ...,applprev_1,0.009245,True
275,maxdpdtolerance_577P,Maximum DPD with tolerance (on previous applic...,applprev_1,0.039997,True
282,mobilephncnt_593L,Number of persons with the same mobile phone n...,static_0,0.058783,True
306,numberofqueries_373L,Number of queries to credit bureau.,static_cb_0,0.064446,True
312,numinstlswithdpd10_728L,Number of instalments that were overdue for 10...,static_0,0.090439,True
313,numinstlswithdpd5_4187116L,Number of instalments that were overdue by at ...,static_0,0.073371,True
334,numrejects9m_859L,Number of credit applications that were reject...,static_0,0.064094,True
340,outstandingdebt_522A,Amount of outstanding debt on the client's pre...,applprev_1,0.016080,True
360,pctinstlsallpaidlat10d_839L,Percentage of installments that were paid 10 o...,static_0,0.114081,True
361,pctinstlsallpaidlate1d_3546856L,Percentage of installments that are paid 1 or ...,static_0,0.125055,True
362,pctinstlsallpaidlate4d_3546849L,Percentage of installments that were paid 4 or...,static_0,0.122669,True
363,pctinstlsallpaidlate6d_3546844L,Percentage of installments that were paid 6 or...,static_0,0.119374,True
381,pmtnum_8L,Number of payments made for the previous appli...,applprev_1,0.032408,True
428,revolvingaccount_394A,Revolving account that was present in the appl...,applprev_1,0.025128,True
448,tenor_203L,Number of instalments in the previous applicat...,applprev_1,0.032408,True

In [167]:
applprev_1 = pd.concat([pd.read_csv(train_dir+'applprev_1_0.csv'),
                        pd.read_csv(train_dir+'applprev_1_1.csv')])
applprev_1

/var/folders/6d/cwp4j2v924nckbmg2vzzzrbm0000gn/T/ipykernel_98652/1635362439.py:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  applprev_1 = pd.concat([pd.read_csv(train_dir+'applprev_1_0.csv'),
/var/folders/6d/cwp4j2v924nckbmg2vzzzrbm0000gn/T/ipykernel_98652/1635362439.py:2: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv(train_dir+'applprev_1_1.csv')])

,case_id,actualdpd_943P,annuity_853A,approvaldate_319D,byoccupationinc_3656910L,cancelreason_3545846M,childnum_21L,creationdate_885D,credacc_actualbalance_314A,credacc_credlmt_575A,...,num_group1,outstandingdebt_522A,pmtnum_8L,postype_4733339M,profession_152M,rejectreason_755M,rejectreasonclient_4145042M,revolvingaccount_394A,status_219L,tenor_203L
0,2,0.0,640.20000,NaN,NaN,a55475b1,0.0,2013-04-03,NaN,0.0,...,0,NaN,24.0,a55475b1,a55475b1,a55475b1,a55475b1,NaN,D,24.0
1,2,0.0,1682.40000,NaN,NaN,a55475b1,0.0,2013-04-03,NaN,0.0,...,1,NaN,12.0,a55475b1,a55475b1,a55475b1,a55475b1,NaN,D,12.0
2,3,0.0,6140.00000,NaN,NaN,P94_109_143,NaN,2019-01-07,NaN,0.0,...,0,NaN,12.0,a55475b1,a55475b1,P94_109_143,a55475b1,NaN,D,12.0
3,4,0.0,2556.60000,NaN,NaN,P24_27_36,NaN,2019-01-08,NaN,0.0,...,0,NaN,24.0,a55475b1,a55475b1,a55475b1,a55475b1,NaN,T,24.0
4,5,0.0,NaN,NaN,NaN,P85_114_140,NaN,2019-01-16,NaN,NaN,...,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,NaN,T,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2638290,2703453,0.0,927.80000,2014-01-22,NaN,a55475b1,0.0,2014-01-22,NaN,0.0,...,6,0.0,18.0,P177_117_192,a55475b1,a55475b1,a55475b1,NaN,K,18.0
2638291,2703453,0.0,266.80002,2013-06-29,NaN,a55475b1,0.0,2013-06-29,NaN,0.0,...,7,0.0,12.0,P177_117_192,a55475b1,a55475b1,a55475b1,NaN,K,12.0
2638292,2703453,0.0,416.20000,NaN,NaN,a55475b1,0.0,2013-06-29,NaN,0.0,...,8,0.0,6.0,P177_117_192,a55475b1,a55475b1,a55475b1,NaN,D,6.0
2638293,2703454,0.0,2986.80000,2020-06-21,NaN,a55475b1,NaN,2020-06-21,NaN,0.0,...,0,5919.2,6.0,P177_117_192,a55475b1,a55475b1,a55475b1,NaN,A,6.0
2638294,2703454,0.0,6726.60000,2019-08-01,NaN,a55475b1,NaN,2019-08-01,NaN,0.0,...,1,0.0,12.0,P46_145_78,a55475b1,a55475b1,a55475b1,NaN,K,12.0

In [168]:
applprev_1_min = min_columns(base, applprev_1, 'applprev_1')
print(applprev_1.columns, "\n", applprev_1_min.columns)

/var/folders/6d/cwp4j2v924nckbmg2vzzzrbm0000gn/T/ipykernel_98652/3216161777.py:7: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr = base_join.corr()['target']
/var/folders/6d/cwp4j2v924nckbmg2vzzzrbm0000gn/T/ipykernel_98652/3216161777.py:18: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  base_min = base_join.drop(base_join.columns.difference(best_cols),1)

Index(['case_id', 'actualdpd_943P', 'annuity_853A', 'approvaldate_319D',
       'byoccupationinc_3656910L', 'cancelreason_3545846M', 'childnum_21L',
       'creationdate_885D', 'credacc_actualbalance_314A',
       'credacc_credlmt_575A', 'credacc_maxhisbal_375A',
       'credacc_minhisbal_90A', 'credacc_status_367L',
       'credacc_transactions_402L', 'credamount_590A', 'credtype_587L',
       'currdebt_94A', 'dateactivated_425D', 'district_544M', 'downpmt_134A',
       'dtlastpmt_581D', 'dtlastpmtallstes_3545839D', 'education_1138M',
       'employedfrom_700D', 'familystate_726L', 'firstnonzeroinstldate_307D',
       'inittransactioncode_279L', 'isbidproduct_390L', 'isdebitcard_527L',
       'mainoccupationinc_437A', 'maxdpdtolerance_577P', 'num_group1',
       'outstandingdebt_522A', 'pmtnum_8L', 'postype_4733339M',
       'profession_152M', 'rejectreason_755M', 'rejectreasonclient_4145042M',
       'revolvingaccount_394A', 'status_219L', 'tenor_203L'],
      dtype='object')
 Index(['case_id', 'target', 'credamount_590A', 'currdebt_94A',
       'mainoccupationinc_437A', 'maxdpdtolerance_577P', 'num_group1',
       'outstandingdebt_522A', 'pmtnum_8L', 'revolvingaccount_394A',
       'tenor_203L'],
      dtype='object')

In [ ]:
applprev_2 = pd.read_csv(train_dir+'applprev_2.csv')
applprev_2

In [ ]:
other_1 = pd.read_csv(train_dir+'other_1.csv')
other_1

In [ ]:
tax_registry_a_1 = pd.read_csv(train_dir+'tax_registry_a_1.csv')
tax_registry_a_1

In [ ]:
tax_registry_b_1 = pd.read_csv(train_dir+'tax_registry_b_1.csv')
tax_registry_b_1

In [ ]:
tax_registry_c_1 = pd.read_csv(train_dir+'tax_registry_c_1.csv')
tax_registry_c_1

In [ ]:
credit_bureau_a_1 = pd.concat([pd.read_csv(train_dir+'credit_bureau_a_1_0.csv'),
                               pd.read_csv(train_dir+'credit_bureau_a_1_1.csv'),
                               pd.read_csv(train_dir+'credit_bureau_a_1_2.csv'),
                               pd.read_csv(train_dir+'credit_bureau_a_1_3.csv')])
credit_bureau_a_1

In [ ]:
credit_bureau_a_2 = pd.concat([pd.read_csv(train_dir+'credit_bureau_a_2_0.csv'),
                               pd.read_csv(train_dir+'credit_bureau_a_2_1.csv'),
                               pd.read_csv(train_dir+'credit_bureau_a_2_2.csv'),
                               pd.read_csv(train_dir+'credit_bureau_a_2_3.csv'),
                               pd.read_csv(train_dir+'credit_bureau_a_2_4.csv'),
                               pd.read_csv(train_dir+'credit_bureau_a_2_5.csv'),
                               pd.read_csv(train_dir+'credit_bureau_a_2_6.csv'),
                               pd.read_csv(train_dir+'credit_bureau_a_2_7.csv'),
                               pd.read_csv(train_dir+'credit_bureau_a_2_8.csv'),
                               pd.read_csv(train_dir+'credit_bureau_a_2_9.csv')])

In [ ]:
credit_bureau_b_1 = pd.read_csv(train_dir+'credit_bureau_b_1.csv')
credit_bureau_b_1

In [ ]:
credit_bureau_b_2 = pd.read_csv(train_dir+'credit_bureau_b_2.csv')
credit_bureau_b_2

In [ ]:
deposit_1 = pd.read_csv(train_dir+'deposit_1.csv')
deposit_1

In [ ]:
person_1 = pd.read_csv(train_dir+'person_1.csv')
person_1

In [ ]:
person_2 = pd.read_csv(train_dir+'person_2.csv')
person_2

In [ ]:
debitcard_1 = pd.read_csv(train_dir+'debitcard_1.csv')
debitcard_1