In [1]:
import pandas as pd
import numpy as np

#import warnings
#warnings.filterwarnings("ignore")

In [2]:
data_dict = pd.read_csv('feature_definitions.csv')
#data_dict['target']=np.NaN
#data_dict[data_dict['Variable']=='num_group1']
#data_dict['Variable'].unique()
data_dict

,Variable,Description
0,actualdpd_943P,Days Past Due (DPD) of previous contract (actu...
1,actualdpdtolerance_344P,DPD of client with tolerance.
2,addres_district_368M,District of the person's address.
3,addres_role_871L,Role of person's address.
4,addres_zip_823M,Zip code of the address.
...,...,...
460,totinstallast1m_4525188A,Total amount of monthly instalments paid in th...
461,twobodfilling_608L,Type of application process.
462,type_25L,Contact type of a person.
463,typesuite_864L,Persons accompanying the client during the loa...
464,validfrom_1069D,Date since the client has an active campaign.

In [3]:
import os
file_list = ['./csv_files/train/' + file for file in os.listdir('./csv_files/train/')]
train_dir = './csv_files/train/train_'

In [4]:
base = pd.read_csv(train_dir+'base.csv')
base

         case_id date_decision   MONTH  WEEK_NUM  target
0              0    2019-01-03  201901         0       0
1              1    2019-01-03  201901         0       0
2              2    2019-01-04  201901         0       0
3              3    2019-01-03  201901         0       0
4              4    2019-01-04  201901         0       1
...          ...           ...     ...       ...     ...
1526654  2703450    2020-10-05  202010        91       0
1526655  2703451    2020-10-05  202010        91       0
1526656  2703452    2020-10-05  202010        91       0
1526657  2703453    2020-10-05  202010        91       0
1526658  2703454    2020-10-05  202010        91       0

[1526659 rows x 5 columns]

In [5]:
def min_columns(base_start, table, cols=10, verbose=0):
    global data_dict

    #read in and concatenate the files
    files = sorted([file for file in file_list if table in file])
    add_columns = pd.read_csv(files[0])
    if len(files)>1:
        for _,file in enumerate(files[1:]):
            add_columns = pd.concat([add_columns,pd.read_csv(file)])
    
    #add table name to data_dict
    data_dict.loc[data_dict['Variable'].isin(list(add_columns.columns)),'Table']=table
    
    #join base and new table
    base_join = base_start.join(add_columns.set_index('case_id'), how='left', on='case_id')
    corr = base_join.corr()['target']
    
    #put correlations to target into a column of data_dict
    data_dict = data_dict.join(corr, how='left',on='Variable',rsuffix='_new')
    if 'target_new' in data_dict.columns:
        data_dict['target'] = data_dict['target'].combine_first(data_dict['target_new'])
        data_dict.drop(['target_new'],axis=1,inplace=True)
    
    #make a column of data_dict be True if Top10 correlation
    best_cols = list(corr.sort_values(ascending=False).head(cols).keys())
    data_dict.loc[data_dict['Variable'].isin(best_cols),'Top'+str(cols)]=True

    #drop all columns but top 10 correlations
    best_cols.append('case_id')
    base_min = base_join.drop(base_join.columns.difference(best_cols),1)

    if(verbose!=0):
        print(base_join)
        print(corr)
        print(best_cols)

    return base_min

In [10]:
pd.to_numeric(static_cb_0_min)

TypeError: arg must be a list, tuple, 1-d array, or Series

In [ ]:
static_0_min = min_columns(base, 'static_0')
print(static_0_min.columns)

In [7]:
static_cb_0_min = min_columns(base, 'static_cb_0')
print(static_cb_0_min.columns)

/var/folders/6d/cwp4j2v924nckbmg2vzzzrbm0000gn/T/ipykernel_32184/2231762045.py:6: DtypeWarning: Columns (1,2,3,4,7,45,46,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  add_columns = pd.read_csv(files[0])
/var/folders/6d/cwp4j2v924nckbmg2vzzzrbm0000gn/T/ipykernel_32184/2231762045.py:16: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr = base_join.corr()['target']
/var/folders/6d/cwp4j2v924nckbmg2vzzzrbm0000gn/T/ipykernel_32184/2231762045.py:30: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  base_min = base_join.drop(base_join.columns.difference(best_cols),1)

Index(['case_id', 'target', 'days120_123L', 'days180_256L', 'days30_165L',
       'days360_512L', 'days90_310L', 'formonth_535L', 'forquarter_634L',
       'foryear_850L', 'numberofqueries_373L'],
      dtype='object')

In [ ]:
data_dict[data_dict['Top10']==True]

In [ ]:
applprev_1_min = min_columns(base, 'applprev_1')
print(applprev_1_min.columns)

In [ ]:
applprev_2_min = min_columns(base, 'applprev_2')
print(applprev_2_min.columns)

In [ ]:
other_1_min = min_columns(base, 'other_1')
print(other_1_min.columns)

In [ ]:
tax_registry_a_1_min = min_columns(base, 'tax_registry_a_1')
print(tax_registry_a_1_min.columns)

In [ ]:
tax_registry_b_1_min = min_columns(base, 'tax_registry_b_1')
print(tax_registry_b_1_min.columns)

In [ ]:
tax_registry_c_1_min = min_columns(base, 'tax_registry_c_1')
print(tax_registry_c_1_min.columns)

In [ ]:
credit_bureau_a_1_min = min_columns(base, 'credit_bureau_a_1')
print(credit_bureau_a_1_min.columns)

In [ ]:
credit_bureau_a_2_min = min_columns(base, 'credit_bureau_a_2')
print(credit_bureau_a_2_min.columns)

In [ ]:
credit_bureau_b_1_min = min_columns(base, 'credit_bureau_b_1')
print(credit_bureau_b_1_min.columns)

In [ ]:
deposit_1_min = min_columns(base, 'deposit_1')
print(deposit_1_min.columns)

In [ ]:
person_1_min = min_columns(base, 'person_1')
print(person_1_min.columns)

In [ ]:
person_2_min = min_columns(base, 'person_2')
print(person_2_min.columns)

In [ ]:
debitcard_1_min = min_columns(base, 'debitcard_1')
print(debitcard_1_min.columns)